# Terraform状態ファイル
terraform.tfstate
terraform.tfstate.backup

# 機密情報を含む変数ファイル
*.tfvars

# Terraformロックファイル
.terraform/
.terraform.lock.hcl

# Terraform状態ファイル
/network/terraform.tfstate
/network/terraform.tfstate.backup

# 機密情報を含む変数ファイル
/network/*.tfvars

# Terraformロックファイル
/network/.terraform/
/network/.terraform.lock.hcl


# Terraform状態ファイル
/server/terraform.tfstate
/server/terraform.tfstate.backup

# 機密情報を含む変数ファイル
/server/*.tfvars

# Terraformロックファイル
/server/.terraform/
/server/.terraform.lock.hcl


# Terraform状態ファイル
/database/variables.tf

/database/terraform.tfstate
/database/terraform.tfstate.backup

# 機密情報を含む変数ファイル
/database/*.tfvars

# Terraformロックファイル
/database/.terraform/
/database/.terraform.lock.hcl
