# Terraform状態ファイル
/network/terraform.tfstate
/network/terraform.tfstate.backup

# 機密情報を含む変数ファイル
/network/*.tfvars

# Terraformロックファイル
/network/.terraform/
/network/.terraform.lock.hcl


# Terraform状態ファイル
/server/terraform.tfstate
/server/terraform.tfstate.backup

# 機密情報を含む変数ファイル
/server/*.tfvars

# Terraformロックファイル
/server/.terraform/
/server/.terraform.lock.hcl
